body {
  margin: 0;
  overflow-y: scroll;
  font-family: Arial;
  font-size: 16px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.nav-wrapper {
width: 100%;
margin: 0;
text-align: left;
}

.nav {
  background-color: rgba(34,34,34,0.5);
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.nav ul li {
  display: inline-block;
  margin-right: 0px;
}

.nav ul li a,visited {
  color: #ccc;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.nav ul li a:hover {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

.nav ul li:hover ul {
  display: block;
}

.nav ul li img.arrow {
  vertical-align: middle;
  padding-left: 5px;
  width: 17%;
  transform: rotate(270deg);
  transition-duration: 0.5s;
}

.nav ul li img.arrow3 {
  vertical-align: middle;
  padding-left: 5px;
  width: 24%;
  transform: rotate(270deg);
  transition-duration: 0.5s;
}

.nav ul li:hover img.arrow3 {
  vertical-align: middle;
  padding-left: 5px;
  width: 24%;
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.nav ul li:hover img.arrow4 {
  vertical-align: middle;
  padding-left: 5px;
  width: 12%;
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.nav ul li img.arrow4 {
  vertical-align: middle;
  padding-left: 5px;
  width: 12%;
  transform: rotate(270deg);
  transition-duration: 0.5s;
}

.nav ul li ul li:hover img.arrow2 {
  vertical-align: middle;
  padding-left: 5px;
  width: 7%;
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.nav ul li ul li img.arrow2 {
  vertical-align: middle;
  padding-left: 5px;
  width: 7%;
  transform: rotate(270deg);
  transition-duration: 0.5s;
}

.nav ul li:hover img.arrow {
  vertical-align: middle;
  padding-left: 5px;
  width: 17%;
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.nav ul ul {
  display: none;
  position: absolute;
  background-color: rgb(34,34,34);
  border: 5px solid rgb(34,34,35);
  min-width: 100px;
}

.nav ul ul li {
  display: block;
}


.nav ul ul li a,visited {
  color: #ccc;
}

.nav ul ul li a:hover {
  color: white;
  transition: color 0.2s ease-in;
}

.nav ul li ul li.submenu-item52 ul {
  min-width: 350px;
}

.nav ul ul li.submenu-item2 ul {
  left: 147px;
  top: 50px;
  min-width: 250px;
} 

.nav ul ul li.submenu-item50 ul {
  left: 150px;
  top: 50px;
  min-width: 250px;
}

.nav ul ul li.submenu-item62 ul {
  left: 147px;
  top: 100px;
  min-width: 250px;
}

.nav ul ul li.submenu-item51 ul {
  left: 150px;
  top: 100px;
  min-width: 250px;
}

.nav ul ul li.submenu-item52 ul {
  left: 150px;
  top: 252px;
}

.nav ul ul li.submenu-item53 ul {
  left: 150px;
  top: 303px;
  min-width: 250px;
}

.nav ul ul li.submenu-item54 ul {
  left: 190px;
  top: -1px;
  min-width: 350px;
}

.nav ul ul li.submenu-item55 ul {
  left: 150px;
  top: 151px;
  min-width: 345px;
}

.nav ul ul li.submenu-item60 ul {
  left: 152px;
  top: 50px;
}

.nav ul ul li.submenu-item61 ul {
  left: 150px;
  top: -1px;
}

.nav ul ul li.submenu-item70 ul {
  left: 189px;
  top: 50px;
  min-width: 350px;
} 

.nav ul ul li.submenu-item71 ul {
  left: 189px;
  top: 100px;
  min-width: 350px;
} 

.nav ul ul li.submenu-item72 ul {
  left: 140px;
  top: -1px;
  min-width: 350px;
}

.nav ul ul li.submenu-item73 ul {
  left: 150px;
  top: 50px;
  min-width: 345px;
}

.nav ul ul li.submenu-item74 ul {
  left: 150px;
  top: 100px;
  min-width: 350px;
}

.nav ul ul li.submenu-item80 ul {
  left: 153px;
  top: 100px;
  min-width: 350px;
}

.nav ul ul li.submenu-item81 ul {
  left: 153px;
  top: 151px;
  min-width: 350px;
}

.menu-code {
  max-width: 200px;
  min-width: 150px;
}

.menu-code ul li {
  max-width: 300px;
  min-width: 250px;
}

.logo {
  width: 75%;
  height: 75%;
  vertical-align: middle;
  margin-left: 100px;
}

.nav ul li ul {
  border-top: 1px solid #D4941F;
}

ul li ul li { 
border-bottom: 1px solid #111;
}

ul li ul {
  border-right: 5px solid #111;
}

.slider {
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}
.slides, .slide {
    list-style: none;
    margin: 0;
    padding: 0;
}
.slides img {
    margin: auto;
    width: 100%;
    height: 971px;
}
.slide {
    float: left;
}
.slider .toggles {
    color: #000;
    height: 48px;
    margin: auto;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: all .3s linear;
    width: 48px;
    z-index: 3;
}
.slider .toggles:hover {
    cursor: pointer;
}
.slider:hover .toggles {
    opacity: 1;
}
.slider .toggles i:before {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.slider #toggle-right i:before, #slider #toggle-left i:before {
    height: 20px;
    width: 18px;
}

#toggle-right {
    right: 0;
    margin-right: 100px;
    margin-bottom: auto;
}
#toggle-left {
    left: 0;
    margin-bottom: auto;
    margin-left: 75px;
}

#left-arrow {
  transform: rotate(180deg);
}

.toggle-arrow {
  width: 100px;
  height: 180px;
  opacity: 0.6;
}

.music {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    opacity: 0.8;
    margin-right: 100px;
    margin-top: 49%;
    display: block;
    float: left;
    transition: opacity 0.5s ease-out;
}

.music:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.music-player {
  height: 150px;
  width: 450px;
  display: block;
  float: left;
}

.slash {
  color: white;
  font-size: 50px;
}

.nav.scroll {
  background-color: rgba(34,34,34,0.8);
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  z-index: 2;
  width: 100%;
  transition: background-color 0.5s ease-in;
}

.content1 {
  background-image: url("http://www.thefreeloves.com/prototype/test/wp-content/uploads/2014/02/album-title.jpg");
  color: white;
  text-align: center;
  width: 100%;
  height: 20%;
  display: block;
  float: left;
}

.text1 {
  font-family: "Goudy Old Style", Optima, sans-serif;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 45px;
}

.text2 {
  font-size: 30px;
  color: #6CB9D9;
}


.album1 {
  float: left;
  display: inline-block;
  width: 31%;
  text-align: center;
  margin-right: 35px;
  margin-left: 25px;
  margin-top: 10px;
  opacity: 1;
  transition: opacity 0.3s ease-in;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.15s;
}

.album1:hover {
  transform: scale(1.02);
  transition-property: transform;
  transition-duration: 0.15s;
}

.album2{
  display: inline-block;
  width: 31%;
  text-align: center;
  opacity: 1;
  margin-top: 10px;
  transition: opacity 0.3s ease-in;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.15s;
}

.album2:hover {
  transform: scale(1.02);
  transition-property: transform;
  transition-duration: 0.15s;
}

.album3 {
  float: right;
  display: inline-block;
  width: 31%;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  opacity: 1;
  transition: opacity 0.3s ease-in;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.15s;
}

.album3:hover {
  transform: scale(1.02);
  transition-property: transform;
  transition-duration: 0.15s;
}

.album {
  width: 100%;
  overflow: hidden;
  background: #191919;
}

.album img {
  width: 100%;
}

.album-play {
  background-color: #191919;
  color: white;
  text-align: left;
}

.album1-play {
  float: left;
  display: inline-block;
  background-color: #232323;
  width: 31%;
  margin-right: 18px;
  margin-left: 25px;
  height: 45px;
  color: #bdbdbd;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.album1-play:hover {
  float: left;
  display: inline-block;
  background-color: #232323;
  width: 31%;
  margin-right: 18px;
  margin-left: 25px;
  height: 45px;
  color: white;
  background-color: #51ACD4;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.album2-play {
  display: inline-block;
  background-color: #232323; 
  width: 31%; 
  height: 45px;
  color: #bdbdbd;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.album2-play:hover {
  display: inline-block;
  background-color: #232323; 
  width: 31%; 
  height: 45px;
  background-color: #51ACD4;
  color: white;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.album3-play {
  float: right;
  display: inline-block;
  width: 31%;
  background-color: #232323;
  margin-left: 20px;
  margin-right: 20px;
  height: 45px;
  color: #bdbdbd;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.album3-play:hover {
  float: right;
  display: inline-block;
  width: 31%;
  margin-left: 20px;
  margin-right: 20px;
  height: 45px;
  background-color: #51ACD4;
  color: white;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.music-anchor {
  height: 205px;
  background-color: #191919;
}

.albumtext {
  margin-top: 10px;
  text-decoration: none;
  color: #bdbdbd;
}

.album-play {
  text-align: center;
  font-family: Georgia,Times, "Times New Roman", serif;
  letter-spacing: 0.08em;
  font-size: 19px;
  color: #bdbdbd;
}

.album-play:hover {
  text-align: center;
  font-family: Georgia,Times, "Times New Roman", serif;
  letter-spacing: 0.08em;
  font-size: 19px;
  color: #bdbdbd;
}

.sc {
  display: block;
  float: right;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in;
}

.sc:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.album1-play:hover .text10 { 
  color: white;
  transition: color 0.3s ease-out; 
}

.album1-play .text10 { 
  color: #bdbdbd;
  transition: color 0.3s ease-in; 
}

.album2-play:hover .text11 {
  color: white;
  transition: color 0.3s ease-in;
}

.album2-play .text11 {
  color: #bdbdbd;
  transition: color 0.3s ease-in;
}

.album3-play:hover .text12 {
  color: white;
  transition: color 0.3s ease-in;
}

.album3-play .text12 {
  color: #bdbdbd;
  transition: color 0.3s ease-in;
}

.content2 {
  background: #191919;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 20px;
}

.twitterfeed {
  float: left;
  padding-left: 140px;
  padding-top: 11px;
  color: white;
  font-size: 30px;
  font-family: Didot, Georgia, sans-serif;
}

.recent {
  display: inline-block;
  padding-left: 230px;
}

.readnews {
  float: right;
  color: white;
  padding-top: 65px;
  padding-right: 230px;
}

.text3 {
  color: white;
  font-family: "Goudy Old Style", Optima, sans-serif;
  font-size: 35px;
  margin-bottom: 0;
}

.text4 {
  font-size: 30px;
  color: #6CB9D9;
}

.readall {
  text-decoration: none;
  color: white;
  transition: color 0.2s ease-out;
}

.readall:hover {
  color: #6CB9D9;
  transition: color 0.2s ease-in;
}

.soundcloudplayer {
  float: left;
  padding-left: 140px;
  padding-top: 100px;
  padding-right: 150px;
  color: white;
  font-size: 30px;
  font-family: Didot, Georgia, sans-serif;
}

h3 {
  margin: 0;
}

.newscontent {
  background: #191919;
}

.thumbnail {
  padding-top: 30px;
}

.thumbnailphoto {
  width: 275px;
  height: 150px;
}

.newsdate {
  float: right;
}