.bdr-navbar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(34,34,34,0.5);
}

.bdr-navbar {
    height: 200px;
}

.bdr-navbar-badge,.bdr-navbar-links {
    display: inline-block;
}

.bdr-navbar-badge {
    margin-left: 10px;
}