body {
    background-color: #191919;
    margin: 0;
}

.bdr-slides {
    height: 100vh;
    width: 100%;
}

.bdr-slide {
    display: inline-block;
    text-align: center;
}

ul li {
    list-style: none;
}

.bdr-slide-nav {
    color: lightgray;
    font-size: 50px;
    position: absolute;
    margin-top: -25px;
    top: 50%;
    opacity: 0.4;
}
.bdr-slide-nav:hover {
    color: gray;
    opacity: 0.8;
}

.bdr-slide-nav-left {
    left: 0
}
.bdr-slide-nav-right {
    right: 0;
}

.bdr-slide-container {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

.bdr-slide {
    margin: 0;
}

.bdr-slide img {
    width: 100vw;
}

.bdr-slides {
    padding: 0;
    margin: 0;
}