* {
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    color: lightgrey;
}

#bdr-albums {
    text-align: center;
}

.bdr-album {
    display: inline-block;
    width: 400px;
    padding: 10px;
}

.bdr-album img {
    max-width: 100%;
}

#bdr-bio {
    padding: 40px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}