.bdr-navbar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(34,34,34,0.5);
}

.bdr-navbar-links li {
    vertical-align: middle;
    display: inline-block;
    /*margin-top: 9px;*/
}

.bdr-navbar-links {
    padding-left: 10px;
}

.bdr-nav-link {
    position: relative;
    top: 5px;
    padding: 15px;
    font-size: 16px;
    font-family: arial, sans-serif;
    text-transform: uppercase;
    opacity: 0.5;
}

.bdr-nav-link a {
    color: white;
    opacity: 1.5;
    text-decoration: none;
}

.bdr-nav-link:hover {
    background-color: dimgray;
}

.bdr-navbar-links li + li {
    margin-left: 60px;
}

.bdr-player {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 390px;
    transition: opacity 0.5s ease-out;
    z-index: 9999;
    opacity: 0.8;
    height: 98px;
}

.music-player {
    height: 150px;
    width: 450px;
    display: block;
    float: left;
}