body {
    background-color: #191919;
    margin: 0;
}

.bdr-navbar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(34,34,34,0.5);;
}

.bdr-navbar {
    height: 200px;
}

.bdr-slide {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
}

.bdr-slide img {
    height: 100%;
}

ul li {
    list-style: none;
}

.bdr-slide-nav {
    color: lightgray;
    font-size: 50px;
    position: absolute;
    margin-top: -25px;
    top: 50%;
    opacity: 0.4;
}
.bdr-slide-nav:hover {
    color: gray;
    opacity: 0.8;
}

.bdr-slide-nav-left {
    left: 0
}
.bdr-slide-nav-right {
    right: 0;
}

.bdr-slide-container {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

.bdr-slide {

}

.bdr-slide img {
    max-width: 100%;
}

.bdr-slides {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}