.bdr-navbar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(34,34,34,0.5);
}

.bdr-navbar-links li {
    vertical-align: middle;
    display: inline-block;
}

.bdr-navbar-links {
    padding-left: 0;
}

.bdr-navbar-links a {
    padding: 15px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
}

.bdr-navbar-links li + li {
    margin-left: 20px;
}

.bdr-player {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 450px;
    transition: opacity 0.5s ease-out;
    z-index: 9999;
    opacity: 0.8;
}

.music-player {
    height: 150px;
    width: 450px;
    display: block;
    float: left;
}