.bdr-slider-image {
    display: inline-block;
}
ul li {
    list-style: none;
}

.bdr-slide {
    color: lightgray;
    font-size: 50px;
    position: absolute;
    margin-top: -25px;
    top: 50%;
}
.bdr-slide:hover {
    color: gray;
}

.bdr-slide-left {
    float: left;
    left: 0
}
.bdr-slide-right {
    float: right;
    right: 0;
}

.slider {
    overflow: hidden;
    position: relative;
}