.bdr-slider-image {
    display: inline-block;
}
ul li {
    list-style: none;
}

.bdr-slide {
    color: lightgray;
    font-size: 4em;
}
.bdr-slide:hover {
    color: gray;
}

.bdr-slide-left {
    float: left;
}
.bdr-slide-right {
    float: right;
}

.slider {
    overflow: hidden;
    position: relative;
}