* {
    box-sizing: border-box;
}

.bdr-slide {
    display: inline-block;
}
ul li {
    list-style: none;
}

.bdr-slide-nav {
    color: lightgray;
    font-size: 50px;
    position: absolute;
    margin-top: -25px;
    top: 50%;
    opacity: 0.4;
}
.bdr-slide-nav:hover {
    opacity: 0.8;
}
.bdr-slide:hover {
    color: gray;
}

.bdr-slide-nav-left {
    left: 0
}
.bdr-slide-nav-right {
    right: 0;
}

.bdr-slide-container {
    overflow: hidden;
    position: relative;
}

.bdr-slide {
    max-width: 50px;
    max-height: 50px;
}

.bdr-slide img {
    max-width: 100%;
}

.bdr-slides {
    padding: 0;
    margin: 0;
}